body {
    background: linear-gradient(90deg, #8360c3, #2ebf91);
    color: #e8e0e0;
    border-top: 3px #EB5353 dotted;
    border-right: 3px #F9D923 double;
    border-bottom: 3px #36AE7C dashed;
    border-left: 3px #187498 solid;
    font-weight: 400;
}
image2{
    padding: 100px;
    background-image: url("image");
}
img{
    max-height: 100%;
    height: auto;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border-top: 3px #EB5353 dotted;
    border-right: 3px #F9D923 double;
    border-bottom: 3px #36AE7C dashed;
    border-left: 3px #187498 solid;
}

h1:hover{
    color: #f1e108;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
    font-family: "Arial Black", sans-serif;
    font-size: 1em;
    font-size: 25px;
    background-color: skyblue;
    border-left: 5px #187498 solid;
    padding: 100px;
    border-radius: 40px 30px 10px 20px;
    box-shadow: 6px 6px 6px rgba(0,0,0);
    text-align: center;
    opacity: 0.7;
    font-weight: normal;
}
h2{
    color: #a20f0a;
    font-family: "Arial Black", sans-serif;
}
li{
    text-align:justify-all;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    font-size: 25px;
}
.menu{
    color: aqua;
    text-align:justify-all;
}
p{
    color: darkblue;
}
li{
    color: greenyellow;
    text-align: justify-all;
}
