body {
    background: linear-gradient(90deg, #8360c3, #2ebf91);
    color: #e8e0e0;
}
div{
    background-image: url("./icone/apple-touch-icon.png");
}
img{
    max-height: 100%;
    height: auto;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

h1 {
    color: #f1e108;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
    font-family: "Arial Black";
}
h2{
    color: #a20f0a;
    font-family: "Arial Black";
}
li{
    text-align: justify-all;
}